[submodule "third_party/robotwin"]
	path = third_party/robotwin
	url = https://github.com/RoboTwin-Platform/RoboTwin
[submodule "third_party/boundless-world-model"]
	path = third_party/boundless-world-model
	url = https://github.com/boundless-large-model/boundless-world-model
